body {
  background-color: #000000;
  flex-direction: column;
}
p[name="bodyText"] {
  color: white;
  margin: 4px 2px;
  font-family: 'calibri';
  font-size: 16pt;
  background-color: transparent;
}
button {
  border: none;
  color: black;
  padding: 50px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
.flex-container {
  display: flex;
  background-color: transparent;
}
.title-container {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}
